<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Message</title>
  </head>
  <body>
    <h1>Message</h1>
    <ul id="message">
      <li><%= message.text %> <%= message.user %> <%= message.added %></li>
      <a href="/">back</a>
    </ul>
  </body>
</html>
