<!DOCTYPE html>
<html lang="en">
<head>
  <title>New message</title>
</head>
<body>
  <h1>Create mew message</h1>
  <form method="POST" action="/message">
    <input required type="text" placeholder="Name" name="user" id="">
    <input required type="text" placeholder="message" name="text" id="">
    <button type="submit">Create Message</button>
  </form>
  
</body>
</html>